MAILTO=dss99911@gmail.com
PATH=/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin
0 22 * * * sh /home/ec2-user/tbn-recorder/scheduler.sh > /home/ec2-user/tbn-recorder/stdout.log 2> /home/ec2-user/tbn-recorder/stderr.log